@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Englebert&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap");
@import "tailwindcss";

@theme {
  --font-nunito: "Nunito Sans";
  --font-englebert: "Englebert";
  --font-rouge: "Rouge Script";
  --font-dm: "dm sans";
  --color-dark: #2c2d26;
  --color-brown: #b2a298;
  --color-primary: #e9e9db;
  --color-red: #d2564f;
  --color-brownish: #dcdccf;
  --color-lightBrownish: #e9e9db;
}
